<%= simple_form_for @post do |f| %>
	<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:" %>
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li>
            <%= mgs %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-group">
		<%= f.input :title, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.input :body, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.button :submit %>
	</div>
<% end %>